/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

.accordion-header {
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #0a3370;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary {
  background-color: #fdb913;
  border-color: #fdb913;
  color: #0a3370;
}
.btn-primary:hover {
  background-color: #fee097;
  border-color: #fee097;
  color: #0a3370;
}

.btn-secondary {
  background-color: #0a3370;
  border-color: #0a3370;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #fff;
  border-color: #0a3370;
  color: #0a3370;
}

.chat-btn {
  position: fixed;
  transform: rotate(-90deg);
  right: -22px;
  top: 70vh;
  z-index: 1;
  font-weight: 600;
  font-size: var(--font-size-md);
}

@media only screen and (max-width: 576px) {
  .mobile-btn-w {
    width: 100%;
    margin-bottom: 0.275rem;
  }
}
.card-header {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0a3370;
  font-family: "Open Sans", sans-serif;
}

.list-group-item {
  border: none;
}

.card-info-header {
  color: #0a3370;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.card-paragraph {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.min-h-18 {
  min-height: 18rem;
}

.snhu-logo-footer {
  height: auto;
  width: 100%;
}

footer {
  background-color: #00244E !important;
  color: #FFFFFF;
}

footer p, footer a {
  color: #FFFFFF;
}

footer a {
  font-size: 1rem;
}

footer.mobile {
  display: none;
}

@media only screen and (max-width: 576px) {
  .navbar > .container {
    justify-content: center;
    text-align: center;
  }
  .navbar-nav {
    flex-direction: row;
  }
}
body {
  font-family: "Inter", serif;
}

h1 {
  color: #00244e;
  font-size: clamp(2.44125rem, 1.8776rem + 1.5657vw, 3.05187rem);
  font-weight: 640;
}

.display-4--normal {
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.25;
}

h2 {
  margin-bottom: 1rem;
  font-family: Inter, Inter-fallback, sans-serif;
  font-weight: 640;
  line-height: 1.25;
  color: #00244e;
  font-size: clamp(1.953125rem, 1.5025rem + 1.2516vw, 2.44125rem);
}

h3 {
  color: #00244e;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

p,
li {
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.5;
}

li {
  margin-bottom: 15px;
}

a.head-link {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #00244e;
  text-decoration: none;
}

a.head-link:hover,
a.head-link:focus {
  -webkit-text-decoration: underline #70abdb 2px;
          text-decoration: underline #70abdb 2px;
  text-underline-offset: 5px;
  cursor: pointer;
  color: #00244e;
}

a {
  color: #0a3370;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  section {
    margin: 2.5rem 0 2.5rem 0;
  }
}
body {
  font-family: "Inter", serif;
}

header {
  position: sticky;
  position: sticky;
  top: 0;
  background: white;
  /* padding: 10px 20px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nvlink2 {
  font-size: 16px;
  font-weight: 640;
  color: #ffffff !important;
}

.card.cta-block1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.two-button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 16px;
  grid-template-rows: 1fr;
}

.taylor-img {
  border-radius: 9px;
}

.bg-inkblue {
  background-color: #00244e;
}

.primary {
  color: #fdb913;
}

svg {
  overflow: visible !important;
}

.testimonials-group-wrap {
  container-type: inline-size;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-group-wrap .testimonial-thumbnails {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 44px;
  height: 100%;
  gap: 20px;
}

.testimonial-detail {
  margin-left: 1.625rem;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.testimonial-image-wrap {
  max-width: 320px;
}

.testimonial-group-wrap .testimonial-quote-wrap {
  padding-left: 2.625rem;
  padding-right: 0;
}

.testimonials-group-wrap .testimonial-double-quote-icon {
  bottom: -1.125rem;
  display: block;
  right: 1.5625rem;
  position: absolute;
}

.pb-spacing-4, .py-spacing-4 {
  padding-bottom: 4.25rem !important;
}

.pt-spacing-4, .py-spacing-4 {
  padding-top: 4.25rem !important;
}

.display-3 {
  font-size: clamp(1.5625rem, 1.2019rem + 1.0016vw, 1.953125rem);
  font-weight: 640;
  line-height: 1.25;
}

.testimonials-group-wrap .testimonials-group {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.testimonials-group-wrap .testimonials-group {
  flex-direction: row;
  justify-content: center;
}

.testimonial-thumbnails {
  max-width: 320px;
}

.testimonials-group-wrap .testimonial-thumbnail.active {
  opacity: 1;
}

.testimonials-group-wrap .testimonial-thumbnail {
  margin-right: 0;
  margin-bottom: 1rem;
}

.testimonials-group-wrap .testimonial-thumbnail {
  opacity: 0.6;
  aspect-ratio: 1/1;
  margin-right: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.rounded {
  border-radius: 0.5rem !important;
}

.testimonials-group-wrap .testimonial-detail {
  margin-left: 1.625rem;
  margin-top: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mb-spacing-3, .my-spacing-3 {
  margin-bottom: 2.625rem !important;
}

.testimonials-group-wrap .testimonial-image {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonials-group-wrap .testimonial-double-quote-icon {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='60' width='60' viewBox='0 0 60 61'><path fill='%231B75BA' d='M30 60.5754C46.4467 60.5754 59.7794 47.2427 59.7794 30.796C59.7794 14.3493 46.4467 1.0166 30 1.0166C13.5533 1.0166 0.220566 14.3493 0.220566 30.796C0.220566 47.2427 13.5533 60.5754 30 60.5754Z'/><path d='M27.7213 21.4297C24.4037 23.6069 21.1103 28.579 20.7992 31.8966C20.9029 31.8966 21.3948 31.4334 23.0294 31.4488C25.9323 31.4753 28.0059 33.626 28.0059 36.7363C28.0059 39.7429 25.6213 42.2312 22.511 42.2312C19.0897 42.2312 16.0831 39.4319 16.0831 34.354C16.0831 28.0297 20.4066 22.7885 25.1735 19.3672L27.7213 21.4297Z' fill='white'/><path d='M43.6323 21.4297C40.3147 23.6069 37.0213 28.579 36.7103 31.8966C36.8139 31.8966 37.3059 31.4334 38.9404 31.4488C41.8434 31.4753 43.9169 33.626 43.9169 36.7363C43.9169 39.7429 41.5323 42.2312 38.422 42.2312C35.0007 42.2312 31.9941 39.4319 31.9941 34.354C31.9941 28.0297 36.3176 22.7885 41.0845 19.3672L43.6323 21.4297Z' fill='white'/></svg>");
  bottom: -1.875rem;
}

.testimonials-group-wrap .testimonial-quote-wrap {
  padding-left: 2.625rem;
  padding-right: 0;
}

.testimonials-group-wrap .testimonial-quote {
  padding: 0 0 1rem 0;
  max-width: 320px;
}

.display-5 {
  font-size: 1.25rem;
  font-weight: 640;
  line-height: 1.25;
}

.pb-spacing-1, .py-spacing-1 {
  padding-bottom: 1rem !important;
}

.testimonial-detail {
  display: none;
}

.testimonial-detail[aria-hidden=false] {
  display: flex; /* Shows only the active testimonial */
}

.testimonial-quote p {
  color: #e6f1fa;
  font-size: 1.25rem;
  font-weight: 640;
  line-height: 1.25;
}

.dropdown-toggle {
  border-radius: 3px !important;
}

.accordion-item {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
}

.commercial {
  border-radius: 9px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.72);
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

header nav.utility div, header nav.utility ul {
  margin-bottom: 0;
}

.dropdown-menu > li > ul {
  padding: 0 2.25rem;
}

.testimonial-name p {
  font-weight: 700 !important;
  color: #e6f1fa;
}

.menu-header {
  font-family: Inter, Inter-fallback, sans-serif;
  color: #00244e;
  font-weight: 640;
  border-bottom: 1px solid #c3c6ca;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin: 0 1.25rem 0.5rem 0;
}

.menu-header {
  margin: 0 0 0.5rem;
}

li.nav-menuItem ul.dropdown-menu li.row {
  flex-wrap: unset;
}

.dropdown-menu li {
  list-style: none;
}

header nav.utility div, header nav.utility ul {
  margin-bottom: 0;
}

.col-width {
  width: 200px;
}

.col-width {
  padding-left: 0.313rem;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-item {
  font-size: 0.8rem;
  font-weight: 640;
  line-height: 1.3rem;
  padding: 0.25rem 0.55rem;
  white-space: normal;
  color: #00244e;
  width: 100vw;
}

.dropdown-item {
  width: auto;
}

.display-4 {
  font-size: 1.5625rem;
  font-weight: 640;
  line-height: 1.25;
}

.btn {
  border-radius: 50rem;
  padding: 0.75rem 2rem;
}

.btn-tetirnary {
  background-color: #2066a2;
  border-color: #2066a2;
  color: #fff;
}

.circle--check {
  list-style: none;
  padding-inline-start: 3.25rem;
}

.circle--check li {
  clear: left;
  position: relative;
}

.circle--check li::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  position: absolute;
  left: -1.75rem;
  top: 0.281rem;
  height: 1.125rem;
  width: 1.125rem;
}

.btn {
  margin-bottom: 1rem;
}

.masthead-min {
  background-image: url(https://image.dream.snhu.edu/lib/fe9213737461067576/m/1/0f66fd11-7819-48c1-b5d9-fa078c86e036.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
}

.cta-block2 {
  display: none;
}

.nvitem2:hover {
  background-color: black;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -100%;
  margin-top: var(--bs-dropdown-spacer);
}

@media (max-width: 480px) {
  .masthead-min {
    height: 15em;
  }
  .cta-block1 {
    display: none;
  }
  .cta-block2 {
    display: block;
  }
  .two-button-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 16px;
    grid-template-rows: repeat(2, 1fr);
  }
  .testimonial-section {
    display: none;
  }
}
@media (max-width: 991px) { /* Bootstrap's breakpoint for mobile */
  .navbar-nav-2 {
    flex-direction: column;
    align-items: center; /* Centers items */
    gap: 10px; /* Adds spacing between items */
  }
  .nav-2-item {
    width: 100%; /* Makes each item take full width */
  }
  .nav-link-2 {
    padding: 10px 0; /* Adds padding for better touchability */
  }
  .navbar-toggler {
    background-color: white;
  }
}/*# sourceMappingURL=style.css.map */